
.contact {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  .contact h1 {
    display: flex;
    justify-content: center;
    font-family: 'MuseoModerno', system-ui;
    margin-top: 80px;
    font-size: clamp(30px, 5vw, 40px);
  }
  
  
  .contact > p {
    width: 90%; 
    max-width: 600px; 
    margin: auto;
    text-align: center;
    font-size: clamp(14px, 2.5vw, 16px);
  }
  
 
  .contact .details {
    width: 90%; 
    max-width: 600px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    .contact {
      height: auto;
      padding: 20px 0; 
    }
  
    .contact h1 {
      margin-top: 40px; 
    }
  
    .contact > p {
      width: 90%; 
    }
  
    .contact .details {
      margin-top: 30px;
    }
  }
  
  @media (max-width: 540px) {
    .contact h1 {
      font-size: 24px; 
    }
  
    .contact > p {
      font-size: 14px;
    }
  
    .contact .details {
      width: 100%;
    }
  }