.container {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: fit-content;
  animation: fadeIn 1s ease-in;
  
}


.content {
  text-align: center;
  max-width: 600px;
}

.content h3 {
  font-size: clamp(2rem, 8vw, 4rem);
  margin-bottom: 10px;
}

.content h3 span {
  background-image: linear-gradient(to right, #7BE728, #F3265F, #7F40AC, #7BE728);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shine 10s linear infinite;
}

.content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid wheat;
}

.download-btn {
  border: 1px solid white;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  color: var(--white);
  position: relative;
  z-index: 0;
  cursor: pointer;
  

 

  &::before {
    content: '';
    position: absolute;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    top: -2.5px;
    left: -2.5px;
    z-index: -1;
    background: linear-gradient(135deg,
        #ff0000, #ff7300, #fffb00, #40ff00,
        #00ffd5, #002bff, #ff00c8, #ff0000);
    filter: blur(8px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
    opacity: 0;
    animation: glow 20s linear infinite;
    background-size: 600%;
  }

  &:hover{
    border-color: black;
    color: rgb(0, 0, 0);
  }

  &:hover::before {
    opacity: 1;
}
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  
  
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.info-item p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: black;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes shine {
  0% {
    background-position-x: 0;
    background-position-y: 0;
  }

  50% {
    background-position-x: 800px;
    background-position-y: 0;
  }

  50% {
    background-position-x: 1;
    background-position-y: 0;
  }
}



@keyframes glow {
  0% {
    background-position-x: 0;
    background-position-y: 0;
  }

  50% {
    background-position-x: 800px;
    background-position-y: 0;
  }

  50% {
    background-position-x: 1;
    background-position-y: 0;
  }

}






@media (max-width: 767px) {

  .container {
    flex-direction: column;
  }

  .content {
    order: 2;
  }

  .card {
    order: 1;
  }
}

@media (min-width: 768px) and (max-width: 770px) {

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@media (min-width: 771px) {

  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .content {
    text-align: left;
    max-width: 600px;
  }

  .card {
    max-width: 300px;
  }
}


@media (max-width: 450px) {
  .container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content {
    text-align: center;
  }

  .card {
    margin: 0 auto;
  }
}
  


