header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: var(--headerTextColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: transparent;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 50px;
  filter: drop-shadow(0 0 5px white);
}

nav {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  gap: 50px;
}

nav ul {
  display: flex;
  gap: 35px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--red);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 101;
  color: var(--white);
}
@media (max-width: 786px) {
  header {
    width: 100%;
    padding: 0 10px;
  }

  header nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  header nav.visible {
    display: flex;
    flex-direction: column;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  body[data-theme="light"] header nav {
    background-color: #fff;
    color: #121212;
  }

  body[data-theme="dark"] header nav {
    background-color: #121212;
    color: #eee;
  }

  body[data-theme="light"] header nav ul li a {
    color: #121212;
  }

  body[data-theme="dark"] header nav ul li a {
    color: #eee;
  }

  .hamburger {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  body[data-theme="light"] .hamburger {
    color: #121212;
  }

  body[data-theme="dark"] .hamburger {
    color: #eee;
  }
}


@keyframes slideDown {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
