@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgc: #010824;
  --white: #eee;
  --line: #eee1;
  --red: #d02e23;
  --purpal: #7a43b6;
  --headerTextColor: #e945e3;
  --boxShadow: #7a43b6;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Poppins;
  background-color: var(--bgc);
  color: var(--white);
  font-size: 15px;
  min-height: 100vh;
  background-image: linear-gradient(to right,
      transparent 0 49px,
      var(--line) 49px),
    linear-gradient(to bottom, transparent 0 49px, var(--line) 49px);
  background-size: 50px 50px;

  &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: "";
    background: linear-gradient(to right, var(--red), var(--purpal));
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 50% 0% 0%;
    pointer-events: none;
    filter: blur(200px);
  }
}


